!scripts/*.py
*.bak
*.log
.coverage
.env
.git
.github
.hatch
.idea
.mkrunid
.pytest-cache
.venv
build
coverage-report
coverage.*
dist
docs/_cache
docs/_build
docs-build
localhost
misc
pytermor.egg-info
scripts/archive
scripts/fileWatchers
scripts/runConfigurations
temp
venv
venv-demo
