[flake8]
max-line-length = 89
# @TODO temp: E501 C901
extend-ignore = 
    E402,
    E201,
    E203,
    E241,
    E227,
    W291,
    E302,
    W503,
    E401,
    E701,
    E121,
    W605,
    E731,
    F541,
    E794,
    E116,
    E70,
    F401,
    E501,
    C901
max-complexity = 15
doctests = true
exclude =
    .git,
    __pycache__,
    build,
    docs,
    docs-build,
    dist,
    gen,
    pytermor/__init__.py,
    pytermor/cval.py,
    scripts/archive,
    examples,
    venv,
    scripts,
    temp,
    tests,
