# placeholders:
#   %s (nodes and edges)
#   $SIZE
#   $EDGE_COLOR
#   $LABEL_COLOR

digraph G {
    dpi = 150;
    concentrate = true;
    rankdir = TB;
    #TBbalance = min;
    ratio=fill;
    size="$SIZE";

    node [
        style="filled",
        fontname="Literal Bold",
        margin="0.2,0.0",
        fontsize=10,
        width=1.0,
        height=.5,
    ];
    edge [
        color="$EDGE_COLOR",
        penwidth=1.5,
    ];

    %s
}
