.intro a.reference {
    font-size: 1.5rem;
}
.intro p {
    margin: 0;
}
.intro em {
    font-size: 0.8rem;
}

table.core-api-refs p {
    font-size: 1.33em;
}
table.core-api-refs td {
    padding: 1rem;
}

.bottom-of-page .icons {
    gap: 0.75rem;
}

.toc-tree li.scroll-current>.reference {
    color: var(--color-toc-item-text);
}

.smaller { font-size: 90%; }
.dense { line-height: 1.2; }

code.literal {
    font-size: 100%;
}

kbd:not(.compound) {
    vertical-align: middle;
}

table.docutils th {
    padding-block: 0.75rem;
}

table.xterm-palette td {
    font-family: monospace;
    text-align: center;
}
body table.xterm-palette td {
    border: 1px solid var(--color-background-secondary);
}
body[data-theme="dark"] table.xterm-palette td {
    border: 1px solid var(--color-background-secondary);
}
span.xterm-palette-id {
    font-weight: bold;
}
span.xterm-palette-color {
    font-size: var(--font-size--small);
}
td.xterm-palette-light {
    color: #ffffff;
}
td.xterm-palette-dark {
    color: #000000;
}

table caption {
    margin-bottom: 1rem;
}

article .align-center, article .align-default {
    margin-block: 0.5em 1.0em;
}

section > dl.py:first-of-type {
    border-top: 1px solid var(--color-background-item);
    padding-top: 1rem;
}

section > dl.py:not(:last-of-type) {
    border-bottom: 1px solid var(--color-background-item);
    padding-bottom: 1rem;
}

section > div.attention:last-child {
    margin-top: 2rem;
}

body[data-theme="dark"] .sig-name {
    color: #f5c13d;
}
body[data-theme="dark"] .sig-prename {
    color: var(--color-api-overall);
    font-weight: 400;
}
body[data-theme="dark"] .highlight .s1 {
    color: #4e9a06;
}

table.presets {
    margin-inline: 0.125rem;
    line-height: 1.25;
}
table.presets img {
    height: 24px !important;
    border: 1px dotted var(--color-background-item);
    vertical-align: middle;
}
table.presets td, table.presets th {
    padding: 0 0.05rem;
    vertical-align: middle;
}
table.presets p.rubric {
    margin-block: 0.5rem;
}
table.presets td:nth-child(n+3):nth-child(-n+7), table.preset-colors td:nth-child(8) {
    text-align: center;
}
table.preset-colors {
    line-height: 1;
}
table.preset-attributes td:nth-child(8) {
    font-size: 0.9rem;
}
