name: coverage w/f

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
            python-version: 3.8
        
      - name: Install dependencies
        run: |
          set -ex
          python -m pip install --no-cache-dir --upgrade pip
          python -m venv venv
          venv/bin/pip install --no-cache-dir -r requirements-dev.lock
    
      - name: Run coverage
        run: |
          set -ex
          venv/bin/coverage run -m pytest
          venv/bin/coverage lcov
          venv/bin/coverage report

      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          venv/bin/coveralls 
