name: pytermor coverage

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest~=7.1 coverage~=6.4 coveralls~=3.3 sybil==3.0.1
    
      - name: Run coverage
        run: |
          coverage run -m pytest
          coverage report
          coverage json

      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls
